# TI MSPM0G1518 SoC

# Copyright (c) 2025 Texas Instruments
# SPDX-License-Identifier: Apache-2.0

if SOC_MSPM0G1518

config SOC
	default "mspm0g1518"

config NUM_IRQS
	default 32

endif # SOC_MSPM0G1518
