# TI MSPM0G1519 SoC

# Copyright (c) 2025 Texas Instruments
# SPDX-License-Identifier: Apache-2.0

if SOC_MSPM0G1519

config SOC
	default "mspm0g1519"

config NUM_IRQS
	default 32

endif # SOC_MSPM0G1519
